<p id="notice"><%= notice %></p>

<body class="centralizarconteudo"> 

<br><br>
<h1>MESAS</h1>
<br>

<p>
  Mesa escolhida: <b><%= @mesa_atual.nome if @mesa_atual %></b>
  <% if @mesa_atual %>
    <%= link_to 'Remover seleção', mesa_remover_selecao_path, method: :post, class: 'buttonminusculo red' %>
  <% end %>
</p>
<br>

<table class="formatacaotabela col3">
  <thead class="formatacaotabela col3">
    <tr class="formatacaotabela col3">
      <th class="formatacaotabela col3">Nome</th>
      <th class="formatacaotabela col3">Ativo</th>
      <th class="formatacaotabela col3">Aluno</th>
      <th colspan="4" class="formatacaotabela col3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mesas.each do |mesa| %>
      <tr>
        <td class="formatacaotabela col3"><%= mesa.nome %></td>
        <td class="formatacaotabela col3"><%= mesa.ativo %></td>
        <td class="formatacaotabela col3"><%= mesa.vaga.aluno.nome if mesa.vaga %></td>
        <td class="formatacaotabela col3"><%= link_to 'Escolher', mesa_escolher_path(mesa), method: :post, class: 'buttonmenor green' %></td>
        <td class="formatacaotabela col3"><%= link_to 'Mostrar', mesa, class: 'buttonmenor azulclaro' %></td>
        <td class="formatacaotabela col3"><%= link_to 'Editar', edit_mesa_path(mesa), class: 'buttonmenor amareloclaro' %></td>
        <td class="formatacaotabela col3"><%= link_to 'Apagar', mesa, method: :delete, data: { confirm: 'Deseja mesmo apagar?' }, class: 'buttonmenor red' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</body>

<%= link_to 'Criar Nova Mesa', new_mesa_path, class: 'button botaocriarnovo' %>


<nav id="menutopoesquerdo">
  <ul>
  <div style="text-align: left;"><b>Ir para:</b></div>
    <li><%= link_to 'Home', root_path, class: 'button buttonmenutopo btimpar' %></li>
    <li><%= link_to 'Alunos', alunos_path, class: 'button buttonmenutopo btpar' %></li>
    <li><%= link_to 'Colegiados', colegiados_path, class: 'button buttonmenutopo btimpar' %></li>
    <li><%= link_to 'Filas', filas_path, class: 'button buttonmenutopo btpar' %></li>
    <li><%= link_to 'Rodadas', rodadas_path, class: 'button buttonmenutopo btimpar' %></li>
    <li><%= link_to 'Telao', tela_path, class: 'button buttonmenutopo btpar' %></li>
    <li><%= link_to 'Vagas', vagas_path, class: 'button buttonmenutopo btimpar' %></li>
  </ul>
</nav>