<body class="centralizarconteudo">

<p id="notice"><%= notice %></p>

<h1><%= @mesa.nome %></h1>
<br><br>


<p class="formatacaotabela">
  <strong>Nome:</strong>
  <%= @mesa.nome %>
</p>

<p class="formatacaotabela">
  <strong>Ativo:</strong>
  <%= @mesa.ativo %>
</p>

<p class="formatacaotabela">
  <strong>Aluno:</strong>
  <%= @mesa.vaga.aluno.nome if @mesa.vaga %>
</p>

</body>

<%= link_to 'Editar mesa', edit_mesa_path(@mesa), class: 'button botaoavancar'  %>
<%= link_to 'Voltar para Mesas', mesas_path, class: 'button botaovoltar'  %>
