<body class="centralizarconteudo">

<h1>Fila</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Mesa atual: </b><%= @mesa_atual.nome if @mesa_atual %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @fila.codigo %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @fila.nome %>
</p>

<p>
  <strong>Prioridade:</strong>
  <%= @fila.prioridade %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @fila.ativo %>
</p>

<p>
  <strong>Posição atual:</strong>
  <span style="color: blue;"><%= @fila.posicao %> <%= @fila.vaga_atual&.aluno&.title %></span>
</p>

<p>
  <strong>Próxima posição:</strong>
  <span style="color: #777;"><%= @fila.proxima_vaga&.aluno&.title %>
  </span>
</p>

<p>
  <strong>Numero de pessoas aguardando:</strong>
  <span style="color: red;"><%= @fila.npaguardando %>
  </span>
</p>

<p>
  <strong>Numero de pessoas atendidas:</strong>
  <span style="color: green;"><%= @fila.npatendidas %>
  </span>
</p>

<p>
  <strong>Numero de pessoas que entraram na fila até agora:</strong>
  <span style="color: blue;"><%= @fila.nptotal %>
  </span>
</p>

<p>
  <strong>Tempo médio de atendimento:</strong>
  <%=  @tmpatd[:hours] %> hora(s),
  <%=  @tmpatd[:minutes] %> minuto(s) e
  <%= format("%.0f",  @tmpatd[:seconds]) %> segundo(s)
</p>



<div>
  <%= link_to 'Chamar Anterior', filas_anterior_path(@fila), method: :put, class: 'button verdeclaro' %> 
  <%= link_to 'Chamar Próximo', filas_proximo_path(@fila), method: :put, class: 'button verdeclaro' %>
</div>

<br>

<div>
  <%= link_to 'Esvaziar Mesa', esvazia_mesa_path, method: :put, class: 'button blue' %>
</div>

<br>

<div style="text-align: center;">
  <%= link_to 'Gerar Estatísticas na tela', filas_gera_estatisticas_tela_path(@fila), method: :put, class: 'button green'%>
  <%= link_to 'Gerar Estatísticas em arquivo', filas_gera_estatisticas_arquivo_path(@fila), method: :put, class: 'button green'%>
</div>
</body>

<%= link_to 'Editar Fila', edit_fila_path(@fila), class: 'button botaoavancar' %>
<%= link_to 'Voltar para Filas', filas_path, class: 'button botaovoltar'%>
