<p id="notice"><%= notice %></p>

<body class="centralizarconteudo"> 



<br><br>  
<h1>ALUNOS</h1>
<br>




<table class="formatacaotabela col2">
  <thead class="formatacaotabela col2">
    <tr class="formatacaotabela col2">
      <th class="formatacaotabela col2">Matricula</th>
      <th class="formatacaotabela col2">Nome</th>
      <th class="formatacaotabela col2" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alunos.each do |aluno| %>
      <tr>
        <td class="formatacaotabela col2"><%= aluno.matricula %></td>
        <td class="formatacaotabela col2"><%= aluno.nome %></td>
        <td class="formatacaotabela col2"><%= link_to 'Mostrar', aluno, class: 'buttonmenor azulclaro' %></td>
        <td class="formatacaotabela col2"><%= link_to 'Editar', edit_aluno_path(aluno), class: 'buttonmenor amareloclaro' %></td>
        <td class="formatacaotabela col2"><%= link_to 'Apagar', aluno, method: :delete, data: { confirm: 'Deseja mesmo apagar?' }, class: 'buttonmenor red' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

</body>
<%= link_to 'Criar Novo Aluno', new_aluno_path, class: 'button botaocriarnovo'%>



<nav id="menutopoesquerdo">
  <ul>
  <div style="text-align: left;"><b>Ir para:</b></div>
    <li><%= link_to 'Home', root_path, class: 'button buttonmenutopo btimpar' %></li>
    <li><%= link_to 'Colegiados', colegiados_path, class: 'button buttonmenutopo btpar' %></li>
    <li><%= link_to 'Filas', filas_path, class: 'button buttonmenutopo btimpar' %></li>
    <li><%= link_to 'Mesas', mesas_path, class: 'button buttonmenutopo btpar' %></li>
    <li><%= link_to 'Rodadas', rodadas_path, class: 'button buttonmenutopo btimpar' %></li>
    <li><%= link_to 'Telao', tela_path, class: 'button buttonmenutopo btpar' %></li>
    <li><%= link_to 'Vagas', vagas_path, class: 'button buttonmenutopo btimpar' %></li>
  </ul>
</nav>