<p id="notice"><%= notice %></p>

<body class="centralizarconteudo"> 

<br><br>
<h1>VAGAS</h1>
<br>

<table class="formatacaotabela col3">
  <thead class="formatacaotabela col3">
    <tr class="formatacaotabela col3">
      <th class="formatacaotabela col3">Pos.</th>
      <th class="formatacaotabela col3">Matrícula</th>
      <th class="formatacaotabela col3">Nome</th>
      <!-- <th class="formatacaotabela col3">Data chamada</th> -->
      <th class="formatacaotabela col3" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vagas.each do |vaga| %>
      <tr>
        <td class="formatacaotabela col3">
          <% if @posicao_atual == vaga.posicao %>
            <b>**</b>
          <% end %>
          <%= vaga.posicao %>
        </td>
        <td class="formatacaotabela col3">
          <%= vaga.aluno.matricula %>  
        </td>
        <td class="formatacaotabela col3"><%= vaga.aluno.nome %></td>
        <!-- <td><%= vaga.data_chamada %></td> -->
        <td class="formatacaotabela col3"><%= link_to 'Mostrar', vaga, class: 'buttonmenor azulclaro'%></td>
        <td class="formatacaotabela col3"><%= link_to 'Editar', edit_vaga_path(vaga), class: 'buttonmenor amareloclaro' %></td>
        <td class="formatacaotabela col3"><%= link_to 'Apagar', vaga, method: :delete, data: { confirm: 'Deseja mesmo apagar?' }, class: 'buttonmenor red' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</body>
<%= link_to 'Criar Nova Vaga', new_vaga_path, class: 'button botaocriarnovo' %>



<nav id="menutopoesquerdo">
  <ul>
  <div style="text-align: left;"><b>Ir para:</b></div>
    <li><%= link_to 'Home', root_path, class: 'button buttonmenutopo btimpar' %></li>
    <li><%= link_to 'Alunos', alunos_path, class: 'button buttonmenutopo btpar' %></li>
    <li><%= link_to 'Colegiados', colegiados_path, class: 'button buttonmenutopo btimpar' %></li>
    <li><%= link_to 'Filas', filas_path, class: 'button buttonmenutopo btpar' %></li>
    <li><%= link_to 'Mesas', mesas_path, class: 'button buttonmenutopo btimpar' %></li>
    <li><%= link_to 'Rodadas', rodadas_path, class: 'button buttonmenutopo btpar' %></li>
    <li><%= link_to 'Telao', tela_path, class: 'button buttonmenutopo btimpar' %></li>
  </ul>
</nav>