<p id="notice"><%= notice %></p>

<body class="centralizarconteudo"> 

<br><br>
<h1>RODADAS</h1>
<br>

<table class="formatacaotabela col2">
  <thead class="formatacaotabela col2">
    <tr class="formatacaotabela col2">
      <th class="formatacaotabela col2">Descricao</th>
      <th class="formatacaotabela col2">Posicao atual</th>
      <th class="formatacaotabela col2" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rodadas.each do |rodada| %>
      <tr>
        <td class="formatacaotabela col2"><%= rodada.descricao %></td>
        <td class="formatacaotabela col2"><%= rodada.posicao_atual %></td>
        <td class="formatacaotabela col2"><%= link_to 'Mostrar', rodada, class: 'buttonmenor azulclaro'%></td>
        <td class="formatacaotabela col2"><%= link_to 'Editar', edit_rodada_path(rodada), class: 'buttonmenor amareloclaro'%></td>
        <td class="formatacaotabela col2"><%= link_to 'Apagar', rodada, method: :delete, data: { confirm: 'Deseja mesmo apagar?' }, class: 'buttonmenor red'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</body>

<% if Rodada.count == 0 %>
  <%= link_to 'Criar Nova Rodada', new_rodada_path, class: 'button botaocriarnovo' %>
<% end %>



<nav id="menutopoesquerdo">
  <ul>
  <div style="text-align: left;"><b>Ir para:</b></div>
    <li><%= link_to 'Home', root_path, class: 'button buttonmenutopo btimpar' %></li>
    <li><%= link_to 'Alunos', alunos_path, class: 'button buttonmenutopo btpar' %></li>
    <li><%= link_to 'Colegiados', colegiados_path, class: 'button buttonmenutopo btimpar' %></li>
    <li><%= link_to 'Filas', filas_path, class: 'button buttonmenutopo btpar' %></li>
    <li><%= link_to 'Mesas', mesas_path, class: 'button buttonmenutopo btimpar' %></li>
    <li><%= link_to 'Rodadas', rodadas_path, class: 'button buttonmenutopo btpar' %></li>
    <li><%= link_to 'Telao', tela_path, class: 'button buttonmenutopo btimpar' %></li>
    <li><%= link_to 'Vagas', vagas_path, class: 'button buttonmenutopo btpar' %></li>
  </ul>
</nav>
