<body class="centralizarconteudo">


<p id="notice"><%= notice %></p>

<h1><%= @rodada.descricao %></h1>
<br><br>

<p class="formatacaotabela">
  <strong>Descricao:</strong>
  <%= @rodada.descricao %>
</p>
<br><br>
<br><br>
<br><br>


</body>

<%= link_to 'Editar rodada', edit_rodada_path(@rodada), class: 'button botaoavancar'  %>
<%= link_to 'Voltar para Rodadas', rodadas_path, class: 'button botaovoltar'  %>
